Importing libraries for basic calculation

In [ ]:
import pandas as pd
import numpy as np
from math import sqrt, exp

Reading data

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML without framworks/heart.csv')
data = data.dropna()

In [ ]:
data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

Creating features and label

In [ ]:
X = data.drop(columns=['target'])
y = data['target']

X = np.array(X)
y = np.array(y)

Normalising data

##$x = \frac{x - mean}{range(x)}$

In [ ]:
def mean(x):
    return sum(x) / len(x)

def Range(x):
    return abs(max(x) - min(x))

In [ ]:
mean_X = [mean(X[:, i]) for i in range(13)]

Range_X = [Range(X[:, i]) for i in range(13)]

In [ ]:
for i in range(13):
    for j in range(len(X)):
        X[j, i] = (X[j, i] - mean_X[i]) / Range_X[i]

Creating sigmoid function

##$\sigma(x) = \frac{1}{1 + e^{-x}}$

In [ ]:
def sigmoid(x):
    mat = []
    for i in range(len(x)):
        mat.append(1 / (1 + exp(-1 * x[i, 0])))
    return np.matrix(np.array(mat)).T

In [ ]:
X = np.matrix(X)
y = np.matrix(y).T

In [ ]:
theta = np.matrix(np.zeros(13)).T
change_theta = np.matrix(np.ones(13)).T

alpha = 0.1
m = len(X)
c = alpha / m

In [ ]:
iter = 0
while True:
    if change_theta.max() < 0.000000000000000001:
        break
    else:
        temp_theta = theta
        theta = theta - c * X.T * (sigmoid(X * theta) - y)
        change_theta = abs(theta - temp_theta)
        iter += 1
        print(iter, "\n", theta)

Creating hypothesis function

$h_\theta(x) = g(\theta^TX)$

### $g(z) = \frac{1}{1 + e^{-z}}$

In [ ]:
def h_theta(x, theta):
    def sig(x):
        return 1 / (1 + exp(-1 * x[0, 0]))
    
    return sig(x * theta)

In [ ]:
def predict(x):
    if h_theta(x, theta) >= 0.5:
        return 1
    return 0

                                                           Actual
                                                          1  |  0
                                                         ---------
                                                      1 | TP | FP | 
                                                     --- ---------  Predicted
                                                      0 | FN | TN |
                                                         ---------

In [ ]:
TP = 0
FP = 0
FN = 0
TN = 0

for i in range(len(X)):
    if predict(X[i]) == 1 and y[i, 0] == 1:
        TP += 1
    if predict(X[i]) == 1 and y[i, 0] == 0:
        FP += 1
    if predict(X[i]) == 0 and y[i, 0] == 1:
        FN += 1
    if predict(X[i]) == 0 and y[i, 0] == 0:
        TN += 1

In [ ]:
Precision = TP / (TP + FP)
Recall = TP / (TP + FN)

F1_score = (2 * Precision * Recall) / (Precision + Recall)

In [ ]:
print(f'Accuracy : {"%0.2f" % (F1_score * 100)} %')

Accuracy : 86.71 %

[Derivation of Gradient Descent for Logistic Regression](https://github.com/SahilBharodiya/Machine_Learning_without_frameworks_in_python/blob/main/Gradient%20Descent%20Logistic%20Regression.pdf)